/* Globel CSS */
body {
    margin: 0;
    font-family: "Arial", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
    font-style: normal;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

:root {
    --primary: #5e3bee;
    --primary-shadow: #5e3beebf;
    --heading-color: #282938;
    --bg-shade: #f5fcff;
    --github: #e62872;
    --darkblue: #1c1e53;
    --black: #000000;
    --white: #ffffff;
    --off-white: #f0f0f0;
}

.btn {
    font-family: "Arial", Helvetica, sans-serif;
    padding: 12px 20px;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: var(--primary);
    background-color: var(--bg-shade);
    border: solid var(--primary);
    border-radius: 5px;
    position: relative;

    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s;

    display: flex;
    justify-content: center;
    align-items: center;
}
.btn:hover {
    background-color: var(--primary);
    color: var(--off-white);
    transform: scale(1.05);
}

.link {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid var(--heading-color);
}

/* Main Headings */
h1 {
    font-family: "Arial Black", Helvetica, sans-serif;
    font-size: 56px;
    font-weight: bold;
    line-height: 67px;
}
h2 {
    font-family: "Arial Black", Helvetica, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
}
h3 {
    font-family: "Arial Black", Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
}

/* Paragraphs */
.text-lg {
    color: var(--darkblue);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}
.text-md {
    color: var(--darkblue);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}
.text-sm {
    color: var(--darkblue);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}

/* Sub Title */
.sub-title {
    color: var(--heading-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 85.333px;
    background: var(--white);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.navbar-brand {
    display: flex;
    gap: 10px;
}
.navbar-title {
    color: var(--darkblue);
    text-align: center;
}
.navbar-items ul {
    list-style: none;
    display: flex;
    align-items: flex-start;
    gap: 42.667px;
    text-decoration: none;
}
.navbar-items a {
    text-decoration: none;
}
.navbar-content {
    color: var(--darkblue);
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease;
}
.navbar-content:hover {
    color: var(--primary);
}
.navbar-content::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    background-color: var(--primary);
    bottom: -3px;
    left: 0;
    transition: width 0.3s ease-out;
}
.navbar-content:hover::after {
    width: 100%;
}
.navbar-active-content {
    color: var(--primary);
}

/* Hero Section */
.hero-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 133.333px 85.333px 103.333px;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    background-color: var(--bg-shade);
}
.hero-section-content-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}
.hero-section-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 21.333px;
}
.hero-section-name {
    color: var(--heading-color);
    font-size: 34.667px;
    font-weight: 400;
    line-height: 10px;
    align-self: stretch;
    padding-top: 20px;
}
.hero-section-title {
    color: var(--heading-color);
    font-size: 74.667px;
    font-weight: 700;
    line-height: 90px;
    align-self: stretch
}
.hero-section-title-sub-color {
    color: var(--primary);
}
.hero-section-description {
    color: var(--darkblue);
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}
.hero-section-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 25.333px;
}
.hero-section-links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 100.333px;
    margin-top: 33px;
}
.hero-section-img {
    display: flex;
}
.hero-section-img img {
    width: 100%;
    height: 100%;
}

/* Skills Section */
.skills-section {
    display: flex;
    padding: 85.333px 85.333px;
    flex-direction: column;
    justify-content: center;
    align-items: anchor-center;
    gap: 76.667px;
}
.skills-section-heading {
    color: var(--heading-color);
    font-size: 64px;
    font-weight: 700;
    line-height: 70px;
    text-align: center;
}
.skills-section-title {
    color: var(--heading-color);
    font-size: 44.667px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}
.skills-section-sub-color {
    color: var(--primary);
}
.skills-section-container {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 42.6px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    width: 100%;
}
.skills-section-card {
    display: flex;
    padding: 0 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex: 1 0 0;

    transition: transform 0.3s;
}
.skills-section-card-title {
    color: var(--heading-color);
    font-size: 34.667px;
    font-weight: 700;
    line-height: 55px;

    transition: color 0.3s ease;
}
.skills-section-card-title:hover {
    color: var(--primary);
}
.skills-section-card:hover {
    transform: scale(1.1);
}
.skills-section-card-description {
    color: var(--black);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}